* {
  padding: 0;
  margin: 0;
  background-color: #121212;
}

.trackerApp {
  width: 43.5%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 50px;
  border: 1px solid white;
  margin: 0 auto;
  color: white;
  margin-top: 20px;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px 0;
  width: 80%;
  border-bottom: 1px solid white;
  margin: auto;
}

.header h3 {
  margin: 0 auto;
}

.header button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menuShow {
  background-color: white;
  text-align: center;
  padding: 7px 5px 20px 5px;
  width: 60px;
  height: 40px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
  color: black;
  font-weight: bold;
  margin-left: 85%;
  margin-top: -1%;
  border-radius: 10px;
  font-size: 18px;
}

.menuShow.active {
  visibility: visible;
  opacity: 1;
}

.menuShowLink {
  background-color: white;
  padding: 8px;
  text-decoration: none;
  color: black;
  border: none;
}

.linkProfile {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 5px;
}

.newSession {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: max-content;
  color: black;
  padding: 15px;
  border-radius: 40px;
  font-weight: bold;
}

.newSession:hover {
  border: 5px solid blue;
}

.trackerInputForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  padding: 20px;
  background-color: #717171;
  border-radius: 8px;
  width: 50%;
}

.trackerInputForm p {
  font-size: 18px;
  margin-bottom: 15px;
  background-color: #717171;
}

.trackerInputForm input {
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 15px;
  background-color: white;
}

.trackerInputForm div {
  display: flex;
  gap: 15px;
  background-color: #717171;
}

.trackerInputForm button {
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.trackerInputForm button:hover {
  background-color: #595959;
}

.yourRate {
  border: 1px solid #838383;
  width: max-content;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px 100px 10px 10px;
}

.yourRate p {
  font-size: 17px;
  padding: 5px;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.buttonSave {
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.buttonSave:hover {
  background-color: #717171;
}

.userLogged {
  text-align: center;
  color: white;
}

.userLogged .userLoggedImage {
  float: right;
  margin-top: -35px;
}

/*    PROFILE    */
.profile {
  border: 1px solid white;
  width: 41%;
  padding: 20px 20px 80px 20px;
  margin: 20px auto 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.userLoggedProfile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userLoggedProfile h2 {
  margin: 0 auto;
  font-size: 20px;
  color: white;
}
.inner {
  display: inline-flex;
  justify-content: flex-start;
  margin-top: 30px;
}

.containerRateCard {
  display: inline;
  padding-bottom: 50px;
  color: white;
  width: 90%;
  margin: 0 auto;
  height: auto;
  border: 1px solid white;
}

.containerRateCard .naslov {
  font-size: 20px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

.specRate {
  text-align: center;
  font-size: 18px;
}

.rate-money {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}

.next-previous {
  margin-top: 55px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.next-previous button {
  border: none;
}

.red {
  color: rgb(196, 1, 1);
  font-weight: bold;
  font-size: 20px;
}

.blue {
  color: rgb(103, 103, 255);
  font-size: 20px;
}

/*    ZA TELEFON    */
@media only screen and (max-width: 500px) {
  .trackerApp {
    width: 89%;
    height: auto;
    padding-top: 10px;
    border: 1px solid white;
    margin: 0 auto;
    color: white;
    margin-top: 20px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid white;
    width: 80%;
  }

  .header h3 {
    margin: 0 auto;
  }

  .header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .menuShow {
    background-color: white;
    text-align: center;
    padding: 7px 5px 20px 5px;
    width: 18%;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    color: black;
    font-weight: bold;
    margin-left: 70%;
    margin-top: -3%;
    border-radius: 10px;
    font-size: 18px;
  }

  .menuShow.active {
    visibility: visible;
    opacity: 1;
  }

  .menuShowLink {
    background-color: white;
    padding: 8px;
    text-decoration: none;
    color: black;
    border: none;
  }

  .linkProfile {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 5px;
  }

  .newSession {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: max-content;
    color: black;
    padding: 15px;
    border-radius: 40px;
    font-weight: bold;
  }

  .newSession:hover {
    border: 5px solid blue;
  }

  .trackerInputForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    padding: 20px;
    background-color: #717171;
    border-radius: 8px;
    width: 70%;
  }

  .trackerInputForm p {
    font-size: 18px;
    margin-bottom: 15px;
    background-color: #717171;
  }

  .trackerInputForm input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: white;
  }

  .trackerInputForm div {
    display: flex;
    gap: 15px;
    background-color: #717171;
  }

  .trackerInputForm button {
    padding: 8px 16px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }

  .trackerInputForm button:hover {
    background-color: #595959;
  }

  .yourRate {
    border: 1px solid #838383;
    width: max-content;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px 100px 10px 10px;
  }

  .yourRate p {
    font-size: 17px;
    padding: 5px;
  }

  .container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .buttonSave {
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }

  .buttonSave:hover {
    background-color: #717171;
  }

  .userLogged {
    text-align: center;
    color: white;
  }

  .userLogged .userLoggedImage {
    float: right;
    margin-top: -35px;
  }

  /*    PROFILE    */
  .profile {
    border: 1px solid white;
    width: 80%;
    padding: 20px 20px 80px 20px;
    margin: 20px auto 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }

  .userLoggedProfile {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .userLoggedProfile h2 {
    display: flex;
    font-size: 20px;
    color: white;
  }

  .inner {
    display: inline-flex;
    justify-content: flex-start;
    margin-top: 50px;
  }

  .containerRateCard {
    display: inline;
    padding-bottom: 50px;
    width: 100%;
    margin: 0 auto;
  }

  .containerRateCard .naslov {
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .specRate {
    text-align: center;
    font-size: 18px;
  }

  .rate-money {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
  }

  .next-previous {
    margin-top: 55px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .next-previous button {
    border: none;
  }

  .red {
    color: rgb(196, 1, 1);
    font-weight: bold;
    font-size: 20px;
  }

  .blue {
    color: rgb(103, 103, 255);
    font-size: 20px;
  }
}
